{% extends "layout.html" %}
{% block content %}
    {% if current_user.role == 'child' %}
        <div class='container'>
            <a type="button" class="btn btn-outline-primary btn-lg btn-block" href="{{url_for('jsGame')}}">Enter Eden</a>
        </div>
    {% else %}
        <h1>Welcome to my Page</h1>
        <div>
            <p>As I pick up the few programming languages that's required to make a functioning website, namely HTML, CSS & JavaScript, also Python with web app frameworks Flask & Django, I'm hosting the products here for testing by my friends.</p>
        </div>
    {% endif %}
{% endblock content %}