{% extends "layout.html" %}
{% block content %}
    {% if current_user.role == 'child' %}
        <div class='container'>
            <a type="button" class="btn btn-outline-primary btn-lg btn-block">Enter Eden</a>
        </div>
    {% else %}
        <h1>Welcome to my Page</h1>
        <div>
            <p>As I pick up the few programming languages that's required to make a functioning website, namely HTML, CSS & JavaScript, also Python with web app frameworks Flask & Django, I'm hosting the products here for testing by my friends.</p>

            <p>
                <strong>EDEN</strong> is intended to be an MMORPG game (eventually) that allows kids to explore a fantacy world, to collaborate and compete with other kids via typical RPG game features such as explore adventure maps to fight monsters, venture into dungeons and thereafter build up their own avatar with various attributes. <br>
                Player can also improve their gears via smithing. <br>
                The key in the game is that actions taken are through answering a series of questions. For example, initiating a physical attack, the player needs to answer a question randomly generated based on his / her grade and the subject the parent subscribed for the kid.<br>
                At the backend, the game will analyse the questions answered by the player to determine his / her proficiency in certain subject and question types. Frequency of type of questions appearing will be based on the analysis of the proficiency level.<br>
                Parents can log in to their dashboard to manage the enrollment of their kids; also to view the analysis report about their children to appreciate their progress.
            </p>

            <p>
                Key features EDEN offers: <br>
                1. Child goes through the boring repetitive exercise process through playing enjoyable RPG game. <br>
                2. Frequency of different types of questions increases / decreases according to the answer accuracy of the child. <br>
                3. Parent has visibility of the child's daily / monthly progress in a bar chart. <br>
            </p>

            <p>
                Other functional features to consider: <br>
                1. Play time tracking
            </p>
        </div>
    {% endif %}
{% endblock content %}