{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <img class="rounded-circle account-img" src="{{ child.image_file }}">
        <div class="media-body">
            <h2 class="account-heading">{{ child.first_name }}</h2>
            <table class="table">
                <tr>
                    <th scope="row">Date Joined</th>
                    <th>{{ child.date_joined }}</th>
                </tr>
                <tr>
                    <th scope="row">Grade</th>
                    <th>{{ child.grade }}</th>
                </tr>
            </table>
        </div>
        <div class="media-body">
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Subject</th>
                    <th>Operation</th>
                    <th>Question</th>
                    <th>Correct Ans</th>
                    <th>Ans Chosen</th>
                    <th>Result</th>
                    <th>Duration</th>
                </tr>
                {% for prog in progress %}
                    <tr>
                        <th>{{ prog.date }}</th>
                        <th>{{ prog.subject }}</th>
                        <th>{{ prog.operation }}</th>
                        <th>{{ prog.question }}</th>
                        <th>{{ prog.correct_ans }}</th>
                        <th>{{ prog.ans_chosen }}</th>
                        <th>{{ prog.result }}</th>
                        <th>{{ prog.duration }}</th>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}